{% extends 'base.html' %}
{% block content %}
<h1>Appointment Record</h1>
<div class="card">
  <h5 class="card-header">
  {{ appointment_record.full_name }}</h5>
  
  <div class="card-body">



<p class="card-text">
<strong>Email </strong>{{ appointment_record.email }}</p>

<p class="card-text">
<strong>Phone </strong>{{ appointment_record.phone }}
</p>

<p class="card-text">
<strong>Address </strong>{{ appointment_record.address }}</p>

<p class="card-text">
<strong>City </strong>{{ appointment_record.city }}</p>

<p class="card-text">
<strong>Option </strong>{{ appointment_record.selling_option }}</p>

<p class="card-text">
<strong>Create At </strong>{{ appointment_record.created_at }}</p>


    
    
  </div>
</div>

<br/><br/>      
<a href="{% url 'home' %}" class="btn btn-success">Back</a>



<a href=" {% url 'update_appointment_record' appointment_record.id %}" class="btn btn-success">Update</a>

<a href="{% url 'delete_appointment_record' appointment_record.id %}" class="btn btn-danger">Delete</a>

{% endblock %}