{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <section class="vh-80">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="/static/images/contact_us.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    
                    <form method="POST" action="#">
                        {% csrf_token %}
                       
                        <div class="divider d-flex align-items-center my-4"></div>
                        
                        <!-- Custom HTML Form -->
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <h4>Contact US</h4>
                        </div> 
                        <div class="divider d-flex align-items-center my-4"></div>
                        
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <Strong><label class="form-label" for="text_input">Full Name</label></Strong>
                            <input type="text" class="form-control form-control-lg" id="text_input" name="full_name" placeholder="Enter your Name" required>
                            
                        </div>

                        <div class="form-outline mb-4">
                            <Strong><label class="form-label" for="InputEmail1">Email</label></Strong>
                            <input type="email" class="form-control form-control-lg" id="InputEmail1" name="email" placeholder="Enter your email" required>

                            
                        </div>

                        <div class="form-outline mb-3">
                            <Strong><label class="form-label" for="text_input2">Message</label></Strong>
                            <textarea class="form-control form-control-lg" id="text_input2" name="message" placeholder="Enter your Message" rows="3"></textarea>
                            
                        </div>

                        <!-- Button -->
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-success btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Send</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="container vh-140" style="background-color: #a1dbb2;">
                                <div class="row  mb-4">
                                    <div class="col-md-3 ">
                                        <p>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2121124721825!2d85.3226848247163!3d27.710736475343378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1908c874a40b%3A0x87a26cbf3b75037c!2sKamal%20Pokhari!5e0!3m2!1sen!2snp!4v1712037830586!5m2!1sen!2snp" width="1100" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </p>
                                    </div>
                                </div>
                            </div>
    </section>
{% endblock %}
