{% extends 'base.html' %}

{% block content %}
  {% load static %}
    
    <div class="card mt-4">
        <div class="card-header" style="background-color: #a1dbb2;">
            <h2>FAQ Chat</h2>
        </div>
        <div class="card-body">
            <div id="chat-container" style="height: 150px; overflow-y: auto;">
                
                {% if previous_answer %}
                   <div class="previous-question-answer">
                        <strong>Previous Question:</strong> {{ previous_question }}<br>
                        <strong>Previous Answer:</strong> {{ previous_answer }}
                    </div>
                {% endif %}
                
                {% if current_question %}
                    <div class="current-question">
                        <strong>Question:</strong> {{ current_question }}
                    </div>
                {% endif %}

                
                {% if chatbot_response %}
                    <div class="chatbot-response">
                        <strong>Chatbot:</strong> {{ chatbot_response }}
                    </div>
                {% endif %}
            </div>

            <form id="chat-form" method="POST" action="{% url 'faq_chatbot' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="user-question" class="form-label">Enter your question:</label>
                    <input type="text" class="form-control" name="user_question" id="user-question" required>
                </div>
                <div class="text-center">
                                        
                <button type="submit" class="btn btn-success">FAQ</button>

               
            </div>
            </form>
        </div>
    </div>
{% endblock %}
