{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated and email_user == 'binod.raut@wastebuddy.com' %}
    <strong><p> Welcome Admin</p></strong>
    <style>
      body .card {
        font-family: 'Open Sans', sans-serif;
      }
    </style>

    
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="page1-tab" data-bs-toggle="tab" href="#Records">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page2-tab" data-bs-toggle="tab" href="#Appointments">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page3-tab" data-bs-toggle="tab" href="#Compost_Inquiry">Compost Inquiry</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Records">
                    <h1>Records</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zipcode</th>
                                <th scope="col">Created At</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if records %}
                                {% for record in records %}
                                    <tr>
                                        <td><a href="{% url 'record' record.id %}">{{ record.first_name }} {{ record.last_name }}</a></td>
                                        <td>{{ record.email }}</td>
                                        <td>{{ record.phone }}</td>
                                        <td>{{ record.address }}</td>
                                        <td>{{ record.city }}</td>
                                        <td>{{ record.state }}</td>
                                        <td>{{ record.zipcode }}</td>
                                        <td>{{ record.created_at }}</td>
                                        <!-- <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td> -->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="Appointments">
                    <h1>Appointments</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">Option</th>                                
                                <th scope="col">Created At</th>
                                <th scope="col">Created By</th>                                
                                <th scope="col">Selected Person</th>
                                <th scope="col">Appoint To</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if appointments %}
                                {% for appointment in appointments %}
                                    <tr>
                                        <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.full_name }}</a></td>
                                        <td>{{ appointment.email }}</td>
                                        <td>{{ appointment.phone }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.city }}</td>
                                        <td>{{ appointment.selling_option }}</td>                                       
                                        <td>{{ appointment.created_at }}</td>
                                        <td>{{ appointment.Created_By }}</td>
                                        <td>
                                            {% if appointment.selected_person %}
                                                {{ appointment.selected_person.first_name }} {{ appointment.selected_person.last_name }}
                                            {% else %}
                                                <span class="text-danger">No person Appointed (Please Appoint a Pickup man)</span>
                                            {% endif %}
                                        </td>
                                         <td>
                                            <form method="post" action="{% url 'update_selected_person' appointment.id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <select class="form-control" id="SelectPerson" name="selected_person">
                                                        {% if records %}
                                                            {% for record in records %}
                                                                <option value="{{ record.id }}">{{ record.first_name }} {{ record.last_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <br/>
                                                <button type="submit" class="btn btn-danger">Save</button>
                                            </form>       
                                        </td>            
                                        <!-- <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.id }}</a></td> -->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="Compost_Inquiry">
                    <h1>Compost Inquiry</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>                                
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Message</th>
                                <th scope="col">Created_By</th>
                                <th scope="col">Created_at</th>                              
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if inquiries %}
                                {% for inquirie in inquiries %}
                                    <tr>
                                        <td><a href="{% url 'compost_inquiry_record' inquirie.id %}">{{ inquirie.full_name }}</a></td>
                                        <td>{{ inquirie.email }}</td>
                                        <td>{{ inquirie.phone }}</td>
                                        <td>{{ inquirie.quantity }}</td>
                                        <td>{{ inquirie.message }}</td>
                                        <td>{{ inquirie.Created_By }}</td>
                                        <td>{{ inquirie.created_at }}</td>    
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% elif user.is_authenticated and email_domain == 'wastebuddy.com' %}
    <p>Welcome Pick up Hero.</p>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="page1-tab" data-bs-toggle="tab" href="#Appointment">Appointment</a>
                </li>
                
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Appointment">
                    <h1>Appointment</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>

                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">Option</th>                                
                                <th scope="col">Created At</th>
                                <th scope="col">Created By</th>                                
                                <th scope="col">Selected Person</th>                                
                                <!-- <th scope="col">ID</th> -->
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if appointments %}
                                {% for appointment in appointments %}
                                    <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.full_name }}</a></td>
                                        <td>{{ appointment.email }}</td>
                                        <td>{{ appointment.phone }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.city }}</td>
                                        <td>{{ appointment.selling_option }}</td>                                       
                                        <td>{{ appointment.created_at }}</td>
                                        <td>{{ appointment.Created_By }}</td>
                                        <td>
                                            {% if appointment.selected_person %}
                                                {{ appointment.selected_person.first_name }} {{ appointment.selected_person.last_name }}
                                            {% else %}
                                                <span class="text-danger">No person Appointed (Please Appoint a Pickup man)</span>
                                            {% endif %}
                                        </td>
                                        
                                        <!-- <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.id }}</a></td> -->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
    

{% elif user.is_authenticated %}
    <video autoplay muted loop class="img-fluid" id="videoPlayer">
        <source src="/static/images/videorecycle.mp4" type="video/mp4">
    </video>

    <!-- Button in the Middle -->
    <div class="position-absolute top-50 start-50 translate-middle">
        <a href="{% url 'bookapt' %}" class="btn btn-success btn-lg">Book an Appointment</a>
    </div>

    <script>
        // Get the video element
        var video = document.getElementById('videoPlayer');

        // Set playback rate to 2x
        video.playbackRate = 3;
    </script>
{% else %}
    <video autoplay muted loop class="img-fluid" id="videoPlayer">
        <source src="/static/images/videorecycle.mp4" type="video/mp4">
    </video>

    <!-- Button in the Middle -->
    <div class="position-absolute top-50 start-50 translate-middle">
        <a href="{% url 'bookapt' %}" class="btn btn-success btn-lg">Book an Appointment</a>
    </div>

    <script>
        // Get the video element
        var video = document.getElementById('videoPlayer');

        // Set playback rate to 2x
        video.playbackRate = 3;
    </script>

    
   

{% endif %}
{% endblock %}
