{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated and email_user == 'binod.raut@wastebuddy.com' %}
    <strong>
        <h3><p>Welcome Admin</p></h3>
    </strong>
    <style>
        body .card {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="page1-tab" data-bs-toggle="tab" href="#Records">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page2-tab" data-bs-toggle="tab" href="#Appointments">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page3-tab" data-bs-toggle="tab" href="#Compost_Inquiry">Compost Inquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page4-tab" data-bs-toggle="tab" href="#Contact_US">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page4-tab" data-bs-toggle="tab" href="#FeedBack">FeedBack</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Records">
                    <div class="table-responsive">
                    <h1>Records</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">NIN</th>
                                <th scope="col">Created At</th>
                                
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if records %}
                                {% for record in records %}
                                    <tr>
                                        <td><a href="{% url 'record' record.id %}">{{ record.full_name }}</a></td>
                                        <td>{{ record.email }}</td>
                                        <td>{{ record.phone }}</td>
                                        <td>{{ record.address }}</td>
                                        <td>{{ record.nin }}</td>
                                        <td>{{ record.created_at }}</td>
                                        
                                        <!-- <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td> -->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade" id="Appointments">
                    <div class="table-responsive">
                    <h1>Appointments</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Requested Date</th>
                                <th scope="col">Option</th>
                                <th scope="col">Selected Person</th>
                                <th scope="col">Appoint To</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if appointments %}
                                {% for appointment in appointments %}
                                    <tr>
                                        <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.full_name }}</a></td>
                                        <td>
                                            {{ appointment.email }}
                                            <a href="mailto:{{ appointment.email }}?subject=Thank you for contacting.&body=Your Body" class="btn btn-success">Send Email</a>
                                        </td>
                                        <td>{{ appointment.calendar }}</td>
                                        <td>{{ appointment.selling_option }}</td>
                                        
                                        <td>
                                            {% if appointment.selected_person %}
                                                {{ appointment.selected_person.full_name }}
                                            {% else %}
                                                <span class="text-danger">No person Appointed (Please Appoint a Pickup man)</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form method="post" action="{% url 'update_selected_person' appointment.id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <select class="form-control" id="SelectPerson" name="selected_person">
                                                        {% if records %}
                                                            {% for record in records %}
                                                                <option value="{{ record.id }}">{{ record.full_name }} </option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <br />
                                                <button type="submit" class="btn btn-danger">Save</button>
                                            </form>
                                        </td>
                                        <!-- <td><a href="{% url 'appointment_record' appointment.id %}">{{ appointment.id }}</a></td> -->
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade" id="Compost_Inquiry">
                    <div class="table-responsive">
                    <h1>Compost Inquiry</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Quantity</th>                                
                                <th scope="col">Created_at</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if inquiries %}
                                {% for inquirie in inquiries %}
                                    <tr>
                                        <td><a href="{% url 'compost_inquiry_record' inquirie.id %}">{{ inquirie.full_name }}</a></td>
                                        <td>{{ inquirie.email }}
                                            <a href="mailto:{{ inquirie.email }}?subject=Thank you for contacting.&body=Your Body" class="btn btn-success">Send Email</a>
                                        </td>
                                        <td>{{ inquirie.phone }}</td>
                                        <td>{{ inquirie.quantity }}</td>
                                        <td>{{ inquirie.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade " id="Contact_US">
                    <div class="table-responsive">
                    <h1>Contact Us Inquiry</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Message</th>
                                <th scope="col">Created_at</th>
                                                            
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if contacts %}
                                {% for contact in contacts %}
                                    <tr>
                                        <td><a href="{% url 'contact_record' contact.id %}">{{ contact.full_name }}</a></td>
                                        <td>{{ contact.email }}
                                        <a href="mailto:{{ contact.email }}?subject=Thank you for contacting.&body=Your Body" class="btn btn-success">Send Email</a></td>
                                        <td>{{ contact.message }}</td>
                                        <td>{{ contact.created_at }}</td>
                                        
                                        
                                        
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade " id="FeedBack">
                    <div class="table-responsive">
                    <h1>FeedBacks</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Ratings</th>
                                <th scope="col">Message</th>
                                <th scope="col">Created_at</th>
                                                            
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if feedbacks %}
                                {% for feedback in feedbacks %}
                                    <tr>
                                        <td><a href="{% url 'feedback_record' feedback.id %}">{{ feedback.name }}</a></td>
                                        <td>{{ feedback.rating }}
                                        <td>{{ feedback.message }}</td>
                                        <td>{{ feedback.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                </div>

            </div>

        </div>
    </div>
{% elif user.is_authenticated and email_domain == 'wastebuddy.com' %}
    <h3><p>Welcome Pick up Hero.</p></h3>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="page1-tab" data-bs-toggle="tab" href="#Appointment">Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page3-tab" data-bs-toggle="tab" href="#Compost_Inquiry">Compost Inquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="page4-tab" data-bs-toggle="tab" href="#Contact_Inquiry">Contact Us</a>
                </li>
            </ul>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Appointment">
                    <div class="table-responsive">
                    <h1>Appointment</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>

                                <th scope="col">Option</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Selected Person</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% if appointments %}
                                {% for appointment in appointments %}
                                    <tr>
                                        <td>
                                            <!-- <a href="{% url 'appointment_record' appointment.id %}"> -->
                                            {{ appointment.full_name }}</a></td>
                                        <td>{{ appointment.email }}</td>
                                        <td>{{ appointment.phone }}</td>
                                        <td>{{ appointment.address }}</td>
                                        
                                        <td>{{ appointment.selling_option }}</td>
                                        <td>{{ appointment.created_at }}</td>
                                        <td>{{ appointment.Created_By }}</td>
                                        <td>
                                            {% if appointment.selected_person %}
                                                {{ appointment.selected_person.full_name }}
                                            {% else %}
                                                <span class="text-danger">No person Appointed (Please Appoint a Pickup man)</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade" id="Compost_Inquiry">
                    <div class="table-responsive">
                    <h1>Compost Inquiry</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Quantity</th>                                
                                <th scope="col">Created_at</th>
                                <!-- <th scope="col">ID</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% if inquiries %}
                                {% for inquirie in inquiries %}
                                    <tr>
                                        <td>
                                            <!-- <a href="{% url 'compost_inquiry_record' inquirie.id %}"> -->
                                            {{ inquirie.full_name }}</a></td>
                                        <td>{{ inquirie.email }}
                                            <a href="mailto:{{ inquirie.email }}?subject=Thank you for contacting.&body=Your Body" class="btn btn-success">Send Email</a>
                                        </td>
                                        <td>{{ inquirie.phone }}</td>
                                        <td>{{ inquirie.quantity }}</td>
                                        <td>{{ inquirie.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="tab-pane fade " id="Contact_Inquiry">
                    <div class="table-responsive">
                    <h1>Contact Us Inquiry</h1>
                    <table class="table table-striped table-hover table-bordered border-success table-group-divider">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Message</th>
                                <th scope="col">Created_at</th>
                                                            
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if contacts %}
                                {% for contact in contacts %}
                                    <tr>
                                        <td><a href="{% url 'contact_record' contact.id %}">{{ contact.full_name }}</a></td>
                                        <td>{{ contact.email }}
                                        <a href="mailto:{{ appointment.email }}?subject=Thank you for contacting.&body=Your Body" class="btn btn-success">Send Email</a></td>
                                        <td>{{ contact.message }}</td>
                                        <td>{{ contact.created_at }}</td>
                                        
                                        
                                        
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>

    </div>
{% elif user.is_authenticated %}
    <div class="position-relative">
        <video autoplay muted loop class="img-fluid blur-video" id="videoPlayer">
            <source src="/static/images/videorecycle.mp4" type="video/mp4">
        </video>

        <div class="position-absolute top-50 start-50 translate-middle">
            <a href="{% url 'bookapt' %}" class="btn btn-success btn-lg btn-pop">Book an Appointment</a>
        </div>
    </div>

    <style>
        .blur-video {
            filter: blur(3px); 
        }

        .btn-pop {
            transition: transform 0.3s ease; 
        }

        .btn-pop:hover {
            transform: scale(1.1); /
        }
    </style>

    <script>
        var video = document.getElementById('videoPlayer');
        video.playbackRate = 5;
    </script>
{% else %}
    <div class="position-relative">
        <video autoplay muted loop class="img-fluid blur-video" id="videoPlayer">
            <source src="/static/images/videorecycle.mp4" type="video/mp4">
        </video>

        <div class="position-absolute top-50 start-50 translate-middle">
            <a href="{% url 'bookapt' %}" class="btn btn-success btn-lg btn-pop">Book an Appointment</a>
        </div>
    </div>

    <style>
        .blur-video {
            filter: blur(3px); /* blur effect */
        }

        .btn-pop {
            transition: transform 0.3s ease; /* transition effect */
        }

        .btn-pop:hover {
            transform: scale(1.1); /* pop effect */
        }
    </style>

    <script>
        var video = document.getElementById('videoPlayer');
        video.playbackRate = 5;
    </script>
{% endif %}
{% endblock %}
