<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'home'%}">Waste Management Buddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated and email_user == 'binod.raut@wastebuddy.com' %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_staff_record' %}">Add Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_blog' %}">Add Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_show' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
          </li>

        

        {% elif user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'compost_inquiry' %}">Compost Inquiry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq_chatbot' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
          </li>
          
          
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'compost_inquiry' %}">Compost Inquiry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_show' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq_chatbot' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_user' %}">Login</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_user' %}">Register</a>
          </li>


          
          
        {% endif %}

      </ul>
    </div>
  </div>
</nav>