{% extends 'base.html' %}
{% block content %}
{% load static %}

 <style>
  body {
    margin: 0;
    padding: 0;
    background-image: url("{% static '/images/image2.jpg' %}");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .card {
    position: relative;
    z-index: 3;
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
  }

</style>

<div class="container">
  <div class="col-md-5 offset-md-2">
   
    <div class="card mx-auto" style="width: 30rem; background: linear-gradient(to bottom, #a1dbb2, #5a9367);">
      <div class="card-body text-center">
        <h5 class="card-title">Register</h5>
        <br/>

        <form method="POST" action="">
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              Please fill the form with all the requirements:
              {% for field in form %}
                {% if field.errors %}
                  {% for error in field.errors %}
                    {{ field.label }}: {{ error }}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          

          <div class="mb-2 text-right">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            <input type="email" class="form-control" name="{{ form.email.name }}" placeholder="Enter your email" required>
          </div>

          <div class="mb-2 text-right">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
            <input type="text" class="form-control" name="{{ form.first_name.name }}" placeholder="Enter your first name" required>
          </div>

          <div class="mb-2 text-right">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="{{ form.last_name.name }}" placeholder="Enter your last name" required>
          </div>

          <div class="mb-4 text-right">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Enter your Password" required>
              <button class="btn btn-success" type="button" onclick="togglePassword('{{ form.password1.id_for_label }}', 'eyeIcon1')">
                 <ion-icon id="eyeIcon1" name="eye-off-outline"></ion-icon>
              </button>
            </div>
          </div>

          <div class="mb-4 text-right">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Confirm your Password" required>
              <button class="btn btn-success" type="button" onclick="togglePassword('{{ form.password2.id_for_label }}', 'eyeIcon2')">
                <ion-icon id="eyeIcon2" name="eye-off-outline"></ion-icon>
              </button>
            </div>
          </div>


          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword(inputId, iconId) {
    var input = document.getElementById(inputId);
    var icon = document.getElementById(iconId);
    if (input.type === "password") {
      input.type = "text";
      icon.name = "eye-outline";
    } else {
      input.type = "password";
      icon.name = "eye-off-outline";
    }
  }
</script>

{% endblock %}
