{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="col-md-5 offset-md-3">
    <div class="card mx-auto" style="width: 25rem; background: linear-gradient(to bottom, #a1dbb2, #5a9367);">
      <div class="card-body text-center">
        <h5 class="card-title">Add Staff</h5>
        <br/>

<form method="POST" >
	{% csrf_token %}

	{{ form.as_p }}

<br/>
  <button type="submit" class="btn btn-success">Update </button>
   <a href="{% url 'home' %}" class="btn btn-success">Back</a>

</form>
 </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
